################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookListRazor/.vs/BookListRazor/v16
/BookListRazor/BookListRazor/obj
/BookListRazor/BookListRazor/bin/Debug/netcoreapp3.1
/BookListRazor/.vs/BookListRazor
/BookListRazor/BookListRazor/BookListRazor.csproj.user
/BookListRazor/BulkyBook/bin/Debug/netcoreapp3.1
/BookListRazor/BulkyBook/obj
/BookListRazor/BulkyBook/wwwroot
/BookListRazor/BulkyBook.DataAccess/bin/Debug/netcoreapp3.1
/BookListRazor/BulkyBook.DataAccess/obj
/BookListRazor/BulkyBook.Models/bin/Debug/netcoreapp3.1
/BookListRazor/BulkyBook.Models/obj
/BookListRazor/BulkyBook.Utility/bin/Debug/netcoreapp3.1
/BookListRazor/BulkyBook.Utility/obj
