################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookListRazor/.vs/BookListRazor/v16
/BookListRazor/BookListRazor/obj
